<!DOCTYPE html>
<html>
<head>
  <title>Opan Website</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="page-header well container">
  <h1>Opan Website <small>Selamat Datang</small></h1>
</div>
<%= yield %>

</body>
</html>
