<!DOCTYPE html>
<html>
<head>
  <title>Opan Website</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

 <div class="page-header well container">
  <h1>Opan Website <small>Selamat Datang</small></h1>
</div>

</head>
<body>
<div class="container">  
	<div class="row">  
		<div class="span8">  
			<ul class="nav nav-pills">  
				<li class="active"><a href="home_pages#index">Home</a></li> 
				<li><a href="artikels#index">Artikel</a></li>  
				<li><a href="puisis#index">Puisi </a></li>      
			</ul>  
		</div>  
	</div>  
</div>  

<%= yield %>

</body>
</html>
